.button-save {
  display: flex;
  justify-content: flex-end;
}
.box {
  display: flex;
  gap: 2rem;
  .box-item {
    flex: 1;
  }
}
.divider {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

.item-box-wrapper {
  border: 1px dashed #c4cdd5;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.item-box--button {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4cdd5;
  svg {
    font-size: 2.4rem;
  }
  span {
    font-size: 1.8rem;
    margin-left: 1rem;
  }
  &:hover {
    background-color: #f7f7f7;
  }
  cursor: pointer;
}

.item-box--value {
  height: auto; // để chứa được nội dung linh hoạt
  align-items: center;
  border: 1px dashed #c4cdd5;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.item-left {
  display: flex;
  align-items: center;
}

.item-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 1.4rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .room-title {
    font-size: 1.4rem;
  }
  .room-num {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.item-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .item-right-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .item-right-box {
      width: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item-right-title {
        font-size: 1.4rem;
      }
      .item-right-value {
        font-size: 1.6rem;
        font-size: 600;
      }
    }
  }
  .item-right-button {
    width: 50px;
    text-align: center;
    .item-right-button--button {
      background: none;
      border: none;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }
    }
  }
}
.booking-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  .booking-create {
    flex: 2;
  }

  .booking-info {
    flex: 1;

    .booking-info-title {
      .title {
        font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
        line-height: 2.4rem;
        font-size: 1.6rem;
      }
      margin-bottom: 1.2rem;
    }

    .booking-info-content {
      border: 1px solid #c4cdd5;
      border-radius: 1.5rem;
      padding: 1.2rem;

      .info-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        .item-title {
          font-weight: bold;
        }

        .item-value {
          color: #333;
        }
        .total-cost-title,
        .total-cost-value {
          font-size: 1.8rem;
        }
      }
      .total-cost {
        margin-top: 1rem;
      }

      .item-rooms {
        .room-item {
          margin-top: 1rem;
          padding: 0.8rem;
          border: 1px solid #e0e0e0;
          border-radius: 0.8rem;

          .room-title {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
          }

          .room-details {
            display: flex;
            flex-direction: column;

            .room-detail {
              font-size: 1.2rem;
              color: #555;
              margin-top: 0.3rem;
            }
          }
        }
      }
    }
  }
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  height: 6rem;
  .checkbox {
    margin-right: 0.8rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
    accent-color: #007bff;
  }

  .title {
    font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-right: 10px;
  }
}
