.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  .status {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.modal-content {
  width: 100%;

  .booking-info {
    margin-bottom: 20px;

    .info-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .item-title {
        font-weight: bold;
      }

      .item-value {
        color: #333;
      }
    }

    .item-rooms {
      .room-item {
        margin-top: 1rem;
        padding: 0.8rem;
        border: 1px solid #e0e0e0;
        border-radius: 0.8rem;

        .room-title {
          font-weight: bold;
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }

        .room-details {
          display: flex;
          flex-direction: column;

          .room-detail {
            font-size: 1.2rem;
            color: #555;
            margin-top: 0.3rem;
          }
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;

    .action-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #6c757d; /* Màu xám khi disabled */
        color: #ccc;
        cursor: default;
        font-style: italic;
        &:hover {
          background-color: #6c757d;
        }
      }
    }

    .action-button--confirm {
      background-color: #007bff;
      &:hover {
        background-color: #0056b3;
      }
    }

    .action-button--checkin {
      background-color: #28a745;
      &:hover {
        background-color: #218838;
      }
    }

    .action-button--checkout {
      background-color: #ffc107;
      &:hover {
        background-color: #e0a800;
      }
    }

    .action-button--cancel {
      background-color: #dc3545;
      &:hover {
        background-color: #c82333;
      }
    }

    .action-button--payment {
      background-color: #007bff;
      &:hover {
        background-color: #0056b3;
      }
    }

    .action-button--awaiting-payment {
      background-color: #eb9413;
      &:hover {
        background-color: #d4840f;
      }
    }

    .action-button--confirmed {
    }

    .action-button--checkinned {
      background-color: #6c757d;
      &:hover {
        background-color: #5a6268;
      }
    }

    .action-button--canceled {
    }

    .action-button--completed {
    }
  }
}
