.title-wrapper {
    display: flex;
    justify-content: flex-start;
    .title {
      font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #333;
    }
  }
  