.menuWrapper {
  margin-bottom: 10px;
  width: 100%;

  .menuTitle {
    line-height: 48px;
    display: inline-block;
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    color: var(--sidebar-tile-item);
    padding-left: 10px;
  }

  .menuList {
    width: 100%;
  }
}
