.menuItem {
  border-radius: var(--border-radius);
  a {
    color: var(--sidebar-title-item);
    line-height: 48px;
    display: inline-block;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .menuItem-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 48px;
      svg {
        font-size: 24px;
      }
    }

    .menuItem-title {
    }
  }
  &:hover {
    a {
      color: var(--sidebar-title-item--hover);
    }
    background: var(--background-color-item--hover);
  }
}
