body {
  /* font-family: 'CustomFont', 'Arial', sans-serif; */
  font-family: 'SVN-Gilroy', 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  font-size: 1.4rem !important;
  
}

#root {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #202020;
}

ul li {
  list-style: none;
}

.datagrid-cell {
  
}
.datagrid-header {

}
